.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-top: 2em;
  padding-bottom: 6em;
  color: var(--white);
}
.question__card {
  background-color: var(--green);
  border-radius: 20px;
  width: 80vw;
  position: relative;
  padding: 1em 2em 1em 2em;
}

.question__btn {
  border: 0;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
}

.question__text {
}

.question__btn__answer {
  padding: 1.2em;
  background-color: var(--lightgreen);
  border-radius: 20px;
}

.question__bookmark {
  position: absolute;
  right: 20px;
  top: -15px;
}

.question__bookmark__style {
  color: var(--gold);
  width: 24;
  height: 24;
  cursor: pointer;
}

.question__bookmark__style__saved {
  color: aquamarine;
  width: 24;
  height: 24;
  cursor: pointer;
}

.question__tag {
  padding: 0.1em;
  font-size: 0.8rem;
}

.showanswer {
  display: none;
}
